<footer class="footer">
  <div class="container footer_container">
    <div class="footer_nav">
      <ul class="footer_list">
        <li class="footer_item">
          <a href="#about-us" class="footer_link">About us</a>
        </li>
        <li class="footer_item">
          <a href="#collection" class="footer_link">Our collection</a>
        </li>
      </ul>
      <ul class="footer_list">
        <li class="footer_item">
          <a href="#order" class="footer_link">Customer order</a>
        </li>
        <li>
          <a href="#testimonials" class="footer_link">Testimonials</a>
        </li>
      </ul>
    </div>
    <p class="footer_title">
      A touch of <span class="footer_title_text">Ukrainian</span> culture in
      every embroidery
    </p>
    <div class="footer-background">
      <img
        class="footer-background-img"
        src="/img/background_yellow.png"
        alt="Background"
      />
    </div>
  </div>
</footer>
<a name="top"></a>
<a href="#top" id="back-to-top" class="back-to-top" title="Back to top">▲</a>
