<footer class="footer">
  <div class="container footer_container">
    <div class="container">
      <nav class="footer_nav">
        <ul class="footer_list list">
          <li class="footer_item">
            <a href="#about-us" class="footer_link link">About us</a>
          </li>
          <li class="footer_item">
            <a href="#collection"  class="footer_link link">Our collection</a>
          </li>
          <li class="footer_item">
            <a href="#order" class="footer_link link">Customer order</a>
          </li>
          <li>
            <a href="#testimonials" class="footer_link link">Testimonials</a>
          </li>
        </ul>
      </nav>
      <h2 class="footer_title">
        A touch of <span class="footer_title_text">Ukrainian</span>
        culture in every embroidery
      </h2>
    </div>
  </div>
</footer>
