<header class="header">
  <div class="container header_container">
    <nav class="header_nav">
      <a href="#" class="logo_link"
        ><img
          src="/img/header/logo.svg"
          alt="logo"
          class="logo"
          width="44px"
          height="39px"
      /></a>
      <ul class="header_nav_list">
        <li><a href="#" class="header_nav_link">About us</a></li>
        <li><a href="#" class="header_nav_link">Our collection</a></li>
        <li><a href="#" class="header_nav_link">Customer order</a></li>
        <li><a href="#" class="header_nav_link">Testimonials</a></li>
      </ul>
    </nav>
    <address class="header_address">
      <button class="header_phone" type="button">
        <a href="tel:+380684439426" class="header_tel">+380 (68) 443-94-26</a>
      </button>
      <ul class="header_link_list">
        <li class="header_item_link">
          <a
            class="social_link_header"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/header/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header_item_link">
          <a
            class="social_link_header"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/header/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header_item_link">
          <a
            class="social_link_header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/header/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mob_menu_btn" type="button">
        <svg class="mob_menu_icon" width="36" height="24">
          <use href="/img/header/icon.svg#icon-burger"></use>
        </svg>
      </button>
    </address>
  </div>
</header>
