<header class="header">
  <div class="container header_container">
    <nav class="header_nav">
      <a href="#" class="logo_link"
        ><img
          src="/img/header/logo.svg"
          alt="logo"
          class="logo"
          width="44"
          height="39"
      /></a>
      <ul class="header_nav_list">
        <li><a href="#about-us" class="header_nav_link">About us</a></li>
        <li>
          <a href="#collection" class="header_nav_link">Our collection</a>
        </li>
        <li><a href="#order" class="header_nav_link">Customer order</a></li>
        <li>
          <a href="#testimonials" class="header_nav_link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header_address">
      <a href="tel:+380684439426" class="header_tel header_phone"
        >+380 (68) 443-94-26</a
      >

      <ul class="header_link_list">
        <li class="header_item_link">
          <a
            class="social_link_header"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/header/icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header_item_link">
          <a
            class="social_link_header"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/header/icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header_item_link">
          <a
            class="social_link_header"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
          >
            <svg class="icon" width="28" height="28">
              <use href="/img/header/icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="mob_menu_btn" type="button" data-menu-open>
        <svg class="mob_menu_icon" width="36" height="24">
          <use href="/img/header/icon.svg#icon-burger"></use>
        </svg>
      </button>
    </address>
  </div>

  <!-- ======= mobile menu ======= -->

  <div class="menu" data-menu>
    <div class="menu_box">
      <button type="button" class="menu_close_btn" data-menu-close>
        <svg class="mobile_close_icon" width="18" height="18">
          <use href="/img/header/icon.svg#icon-close"></use>
        </svg>
        <svg class="tablet_close_icon" width="22" height="22">
          <use href="/img/header/icon.svg#icon-close"></use>
        </svg>
      </button>
      <a href="tel:+380684439426" class="menu_phone">+380 (68) 443-94-26</a>
      <ul class="menu_nav_list">
        <li><a href="#about-us" class="menu_nav_link">About us</a></li>
        <li><a href="#collection" class="menu_nav_link">Our collection</a></li>
        <li><a href="#order" class="menu_nav_link">Customer order</a></li>
        <li><a href="#testimonials" class="menu_nav_link">Testimonials</a></li>
      </ul>
      <div class="menu_background">
        <img
          src="/img/header/elements-grey.svg"
          alt="background"
          class="menu_background_img"
        />
      </div>
    </div>
  </div>
</header>
