<section class="order">
  <div class="container order_container">
    <div class="order-informative">
      <h2 class="order-text">
        <span class="colorful-part-order">Your order </span>is our priority:
        Personalized approach and quality of service
      </h2>
    </div>
    <form class="form-input-order">
      <div class="form">
        <input
          class="input-meaning"
          type="text"
          placeholder="Enter your full name"
          name="name"
        />
      </div>
      <div class="form">
        <input
          class="input-meaning"
          type="text"
          placeholder="Enter your email"
          name="mail"
        />
      </div>

      <div class="form">
        <textarea
          class="comment-order"
          name="user-comment"
          placeholder="Comments"
        ></textarea>
      </div>
      <button class="button-order" type="submit">
        Send<svg width="24" height="16">
          <use href="/images"></use>
        </svg>
      </button>
    </form>
  </div>
</section>
