<section class="collection">
  <div class="container collection_container">
    <h2 class="collection_title">Our collection</h2>
    <ul class="collection_list">
      <li class="collection_item">
        <div class="collection_box">
          <picture>
            <source
              srcset="
                /img/our_collection/card_1_desk_x1.jpg 1x,
                /img/our_collection/card_1_desk_x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our_collection/card_1_desk1_x1.jpg 1x,
                /img/our_collection/card_1_desk1_x2.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our_collection/card_1_tab_x1.jpg 1x,
                /img/our_collection/card_1_tab_x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
          <img
            srcset="
              /img/our_collection/card_1_tab_x1.jpg 1x,
              /img/our_collection/card_1_tab_x2.jpg 2x
            "
            class="collection_img"
            src="/img/our_collection/card_1_tab_x2.jpg"
            alt="shirt1"
            width="335"
          />
        </div>
        <div class="collection_card">
          <h3 class="collection_subheader">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="collection_price">3350 UAH</p>
        </div>
      </li>

      <li class="collection_item">
        <div class="collection_box">
          <picture>
            <source
              srcset="
                /img/our_collection/card_2_desk_x1.jpg 1x,
                /img/our_collection/card_2_desk_x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our_collection/card_2_desk1_x1.jpg 1x,
                /img/our_collection/card_2_desk1_x2.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our_collection/card_2_tab_x1.jpg 1x,
                /img/our_collection/card_2_tab_x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
          <img
            srcset="
              /img/our_collection/card_2_mob_x1.jpg 1x,
              /img/our_collection/card_2_mob_x2.jpg 2x
            "
            class="collection_img"
            src="/img/our_collection/card_2_mob_x1.jpg"
            alt="shirt"
            width="335"
          />
        </div>
        <div class="collection_card">
          <h3 class="collection_subheader">Women's blouse Gorgany</h3>
          <p class="collection_price">3350 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_box">
          <picture>
            <source
              srcset="
                /img/our_collection/card_3_desk_x1.jpg 1x,
                /img/our_collection/card_3_desk_x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our_collection/card_3_desk1_x1.jpg 1x,
                /img/our_collection/card_3_desk1_x2.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our_collection/card_3_tab_x1.jpg 1x,
                /img/our_collection/card_3_tab_x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
          <img
            srcset="
              /img/our_collection/card_3_mob_x1.jpg 1x,
              /img/our_collection/card_3_mob_x2.jpg 2x
            "
            class="collection_img"
            src="/img/our_collection/card_3_mob_x1.jpg"
            alt="shirt"
            width="335"
          />
        </div>
        <div class="collection_card">
          <h3 class="collection_subheader">Women's blouse Crimea</h3>
          <p class="collection_price">4000 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_box">
          <picture>
            <source
              srcset="
                /img/our_collection/card_4_desk_x1.jpg 1x,
                /img/our_collection/card_4_desk_x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our_collection/card_4_desk1_x1.jpg 1x,
                /img/our_collection/card_4_desk1_x2.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our_collection/card_4_tab_x1.jpg 1x,
                /img/our_collection/card_4_tab_x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
          <img
            srcset="
              /img/our_collection/card_4_mob_x1.jpg 1x,
              /img/our_collection/card_4_mob_x2.jpg 2x
            "
            class="collection_img"
            src="/img/our_collection/card_4_mob_x1.jpg"
            alt="shirt"
            width="335"
          />
        </div>
        <div class="collection_card">
          <h3 class="collection_subheader">Men's shirt Verkhovina</h3>
          <p class="collection_price">3100 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_box">
          <picture>
            <source
              srcset="
                /img/our_collection/card_5_desk_x1.jpg 1x,
                /img/our_collection/card_5_desk_x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our_collection/card_5_desk1_x1.jpg 1x,
                /img/our_collection/card_5_desk1_x2.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our_collection/card_5_tab_x1.jpg 1x,
                /img/our_collection/card_5_tab_x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
          <img
            srcset="
              /img/our_collection/card_5_mob_x1.jpg 1x,
              /img/our_collection/card_5_mob_x2.jpg 2x
            "
            class="collection_img"
            src="/img/our_collection/card_5_mob_x1.jpg"
            alt="shirt"
            width="335"
          />
        </div>
        <div class="collection_card">
          <h3 class="collection_subheader">Mountain men's shirt</h3>
          <p class="collection_price">3300 UAH</p>
        </div>
      </li>
      <li class="collection_item">
        <div class="collection_box">
          <picture>
            <source
              srcset="
                /img/our_collection/card_6_desk_x1.jpg 1x,
                /img/our_collection/card_6_desk_x2.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                /img/our_collection/card_6_desk1_x1.jpg 1x,
                /img/our_collection/card_6_desk1_x2.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/our_collection/card_6_tab_x1.jpg 1x,
                /img/our_collection/card_6_tab_x2.jpg 2x
              "
              media="(min-width: 768px)"
            />
          </picture>
          <img
            srcset="
              /img/our_collection/card_6_mob_x1.jpg 1x,
              /img/our_collection/card_6_mob_x2.jpg 2x
            "
            class="collection_img"
            src="/img/our_collection/card_6_mob_x1.jpg"
            alt="shirt"
            width="335"
          />
        </div>
        <div class="collection_card">
          <h3 class="collection_subheader">Men's shirt Yasen</h3>
          <p class="collection_price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
