<section class="about">
  <div class="container about_container">
    <div class="about-us-txt-container">
      <h2 class="about-us-title">About Us</h2>
      <ul class="about-us-list">
        <li class="about-us-item">
          The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
          vyshyvanka comes to life with new zest and style. Our store offers a
          wide selection of high-quality and authentic embroidery, which
          combines the elegance of traditional needlework and modern design.
        </li>
        <li class="about-us-item">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </li>
      </ul>
    </div>
    <div class="about-us-photo">
      <img
        class="about-us-icon"
        srcset="/img/about us/girl-and-boy-mob.jpg 1x, /img/about us/girl-and-boy-mob@2x.jpg 2x"
        src="/img/about us/girl-and-boy-mob.jpg"
        alt="Embroidered Shirt"
      />
    </div>
  </div>
</section>
