.footer {
    background-image: url(../img/footer/elements-yellow.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 437px;
}

@media screen and (min-width: 768px) {
    .footer {
        background-position: 594px 91px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        background-position: 944px 108px;
    }
}

.footer_container {
    border-top: 1px solid rgba(252, 249, 249, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 637px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .footer_container {
        height: 370px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1280px) {
    .footer_container {
        height: 363px;
    }
}

.footer_nav {
    display: flex;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .footer_nav {
        gap: 25px;
    }
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

@media screen and (min-width: 768px) {
    .footer_list {
        flex-wrap: nowrap;
    }
}

.footer_link:hover,
.footer_link:focus {
    color: var(--yellow);
}

.footer_title {
    width: 754px;
    height: 148px;
    font-weight: 400;
    font-size: 64px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    color: var(--white);
    top: 175px;
}

.footer_title_text {
    color: var(--yellow);
}

.footer_item {
    width: calc((100% - 40px) / 2);
}

@media screen and (min-width: 768px) {
    .footer-item {
        width: auto;