.hero_container {
  position: relative;
}
.hero_title {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: var(--white);
  width: 335px;
  margin-bottom: 20px;
}
.word_title {
  color: var(--yellow);
}
.hero_button {
  line-height: 0;
  border: 1px solid var(--grey);
  border-radius: 15px;
  padding: 14px 36px;
  width: 154px;
  height: 49px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;

  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--white);
  transition: border 250ms ease-in-out;
}
.hero_button:hover,
.hero_button:focus {
  border: 1px solid var(--yellow);
}
.icon_arrow_button {
  fill: var(--yellow);
  transition: transform 300ms ease-in-out;
}
.hero_button:hover .icon_arrow_button {
  transform: rotate(120deg);
}
.picture_hero {
  border-radius: 4px;
  margin: 0 auto;
}
.star_box {
  width: 115px;
  display: none;
}
.icon_star {
  fill: var(--yellow);
  transition: fill 250ms ease-in-out,
    transform 2000ms cubic-bezier(0.5, 0.63, 0.31, 0.07);
}
.star_text {
  font-size: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  color: var(--grey);
}
@media screen and (min-width: 768px) {
  .hero_title {
    font-size: 54px;
    line-height: 1.18;
    width: 549px;
  }
  .hero_button {
    margin-left: 141px;
    width: 168px;
    font-size: 16px;
  }
  .picture_hero {
    margin: 0;
  }
  .star_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    position: absolute;
    top: 16px;
    right: 32px;
  }
  .icon_star:hover,
  .icon_star:focus {
    fill: var(--white);
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1280px) {
  .hero_container {
    display: flex;
    column-gap: 40px;
  }
  .title_button_box {
    order: 2;
    padding-top: 94px;
  }
  .picture_hero {
    display: inline-flex;
    order: 1;
  }
  .star_box {
    right: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_title {
    font-size: 64px;
  }
}
