.order_container {
  max-width: 375px;
}
.order-informative {
  text-align: center;
}
.order-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  padding: 0 20px 40px 20px;
  text-transform: uppercase;
  display: inline-block;
}
.colorful-part-order {
  color: #ecd979;
}

.input-meaning {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
  background-color: #1c2225;

  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  width: 335px;
}
.form {
  margin: 20px;
}
.comment-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 8px;
  padding: 14px 16px;
  width: 335px;
  height: 196px;
  background-color: #1c2225;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(252, 249, 249, 0.5);
  resize: none;
}
.button-order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  width: 145px;
  height: 49px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  background-color: #1c2225;
  margin: 0 115px;
}
@media screen and (min-width: 768px) {
  .order_container {
    max-width: 768px;
  }
  .order-text {
    font-size: 44px;
    line-height: 1.31818;
  }
}
@media screen and (min-width: 1280px) {
  .order_container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1440px) {
  .order_container {
    max-width: 1440px;
  }
}
