.picture_container {
  background-image: url(/img/img_section_4_picture/section-4-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 375px;
  height: 500px;
  overflow: hidden;
}

@media screen and (min-width: 767px) and (min-resolution: 192dpi) {
  .picture_container {
    background-image: url(/img/img_section_4_picture/section-4-mob@2x.jpg);
    width: 375px;
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  .picture_container {
    background-image: url(/img/img_section_4_picture/section-4-tab@1x.jpg);
    max-width: 768px;
    height: 776px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .picture_container {
    background-image: url(/img/img_section_4_picture/section-4-tab@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .picture_container {
    background-image: url(/img/img_section_4_picture/section-4-desk@1x.jpg);
    max-width: 1282px;
    height: 776px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .picture_container {
    background-image: url(/img/img_section_4_picture/section-4-desk@2x.jpg);
  }
}
