/* ==================================================
Global variables
================================================== */
:root {
  --black: #1c2225;
  --yellow: #ecd979;
  --white: #fcf9f9;
  --grey: rgba(252, 249, 249, 0.4);
  box-sizing: border-box;
}

/* ==================================================
Imports
================================================== */
@import url('./world_styles.css');
@import url('./header.css');
@import url('./section_1_hero.css');
@import url('./section_2_about_us.css');
@import url('./section_3_our_collection.css');
@import url('./section_4_picture.css');
@import url('./section_5_your_order.css');
@import url('./section_6_testimonials.css');
@import url('./footer.css');
